.user-container {
  font-size: 0.9em;

  .user-name {
    font-weight: 500;
    font-size:1.2em;
  }

  .user-title {
    font-size: 0.85em;
    margin-top: 3px;
    color: #999;
  }

  .user-time {
    font-size: 0.85em;
    color: #999;
    margin-top: 3px;
  }
}
