@import "variables";

.default-navbar {
  margin-bottom: 16px;
  flex-grow: 1;

  .menu-button {
    margin-right: 16px
  }

  .title {
    flex-grow: 1
  }

  a, button {
    color: white;
    text-decoration: none;
  }
}
