.dashboard-navbar {
  margin-bottom: 16px;
  flex-grow: 1;

  .menu-button {
    margin-right: 16px
  }

  .title {
    flex-grow: 1
  }

  a, button {
    color: $primary-color;
    text-decoration: none;
  }

  header {
    background-color: inherit;
  }
}
